html {
  --color-main: #8800ff;
  --color-main-lighter: #ca8dff;
  --color-text: #333333;
  --color-text-lighter: #AAAAAA;
  --color-background: #efefef;
  --font-display: 'Commissioner', sans-serif;
  --font-text: 'Commissioner', sans-serif;
}
