html {
  --color-main: #007aff;
  --color-text: #333333;
  --color-background: #FBFBFD;
  --font-display: 'DM Sans', sans-serif;
  --font-text: 'Crimson Pro', serif;
}

body {
  font-family: var(--font-text);
  font-size: 1.3rem;
  color: var(--color-text);
  background: var(--color-background);
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-display);
  color: var(--color-main);
  margin-top: 0;
}

a, a:visited {
  color: var(--color-main);
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

main.container {
  display: grid;
  grid-template-columns: repeat(6, calc(100vw / 6));
  margin: auto;
}

main.container * {
  grid-column: 2 / span 4;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  height: 90vh;
}

.cover div {
  /* grid-column: 6 / span 7; */
  width: 60vw;
}

.cover .cover__background {
  background: rgba(0,0,0,.3);
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: -1;
}

.cover .cover__image {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  padding: 1rem 0;
  background-position: center;
  background-size: cover;
}

.cover .cover__heading {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.cover .authors {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0;
  padding-right: 1rem;
  color: #FFFFFF;
}

.cover .cover__title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  color: #FFFFFF;
}

.cover .cover__subtitle {
  font-size: 2rem;
  color: #FFFFFF;
}

.intro {
  margin: 6rem 0;
}

.intro p {
  font-size: 1.8rem;
  line-height: 1.5;
  text-indent: 1.2rem;
}

#questions .question__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin-bottom: 4rem;
  transition: 0.3s ease opacity;
}

#questions .question__card:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Question */

.intro-text {
  font-size: 2rem;
}

#question-container .question-title {
  grid-column: 2 / span 4;
  line-height: 1.2;
}

#question-container .question-title h1 {
  color: var(--color-text);
  font-size: 3rem;
}

#visualisation {
  grid-column: 1 / span 6;
  margin-bottom: 3rem;
}

#question-container h2 {
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 3rem 0 2rem 0;
}

/* Navigation */

header#questions-navigation {
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
}

header#questions-navigation * {
  margin: 0 1rem 0 0;
}

header#questions-navigation a {
  background: var(--color-background);
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  font-family: var(--font-display);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-text);
  border: 1px solid var(--color-main);
}

header#questions-navigation .questions--list {
  width: 50vw;
}

header#questions-navigation .questions--list ul {
  display: none;
}

header#questions-navigation .closed {
  display: none;
}

header#questions-navigation .open {
  display: block;
}

@media (max-width: 812px) {
  main.container {
    width: 100%;
    padding: 0;
  }

  .cover div {
    width: 90%;
  }

  .cover {
    min-height: 80vh;
  }

  .cover .cover__image {
    min-height: 80vh;
  }

  .cover .cover__title {
    font-size: 2.5rem;
  }

  .cover .cover__subtitle {
    font-size: 1.5rem;
  }

  #question-container * {
    grid-column: 1 / span 4;
  }
}
